
.cardPoke{
border:groove orange 6px;
color: peru;
max-height: max-content;
margin: 50px;
background-color:grey;
height: 270px;
width: 230px;
font-family:'Times New Roman', Times, serif;

}


.parteCard {
  
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
  margin: 15px;
  
}


.elem{
  display: inline-block;
  margin: 10px; 
  color:rgb(17, 15, 15)
  
}
.fuente{
text-transform: uppercase;
color:rgb(8, 7, 7);
font-family:"Comic Sans MS", "Comic Sans", cursive; 
}
.img{
  padding-top: 22px;
}