.landingPage {

background-image: url("https://besthqwallpapers.com/Uploads/14-9-2016/8461/thumb2-pokemon-fireball-ball-for-pokemon.jpg ");
/* https://c4.wallpaperflare.com/wallpaper/843/913/316/gryffindor-pokeball-the-wallpaper-preview.jpg */

background-size: cover; 
object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: -1;
}
.botonIngresar {
/* background-color: rgb(19, 7, 3);
border-radius: 2rem solid white
;
color: gold;
width: 70px;
height: 70px;
transition: transform .4s; */
-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #d9ff00;
  background-color:  #c97d4b;
}
.botonIngresar:hover {
    transform: scale(1.2);
    color: #d9ff00;
}

.tit{
    font-size:50px;
    font-family: Times, serif;
    color:#c97d4b;
}


